<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon-16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  {% if page.css %}
  <link rel="stylesheet" href="/css/{{ page.css }}.css"></link>
  {% endif %}

  {% if page.include_css %}
    <style>{% include css/{{ page.include_css }}.css %}</style>
  {% endif %}
  {% if page.include_js %}
    <script>
      window.addEventListener('DOMContentLoaded', function() {
         {% include js/{{ page.include_js }}.js %}
      })
    </script>
  {% endif %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=G-Q92DKK544Q'></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() { dataLayer.push(arguments) }
    gtag('js', new Date());
    gtag('config', 'G-Q92DKK544Q', { client_storage: 'none' })
  </script>
</head>
